* {
  margin:0;
  padding:0;
}

body {
  color:#111111;
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:16px;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:36px;
  text-align:center;
}

h1,h2 {
  font-weight:normal;
  letter-spacing:-3px;
  padding:20px 0;
  word-spacing:0.1em;
  color: black;
  font-size: 2.2em;
  cursor: default;
  clear: both;
}

p {
  color: gray;
  font-size: 1.4em;
}

p a {
  color: #9F26F6;
  font-weight: bold;
}

#logo {
  display: block;
  background: white url(../img/pfa-labs.jpg) no-repeat scroll;
  width: 300px;
  height: 280px;
  margin: 0px;
  padding: 0px;
}

#content {
  padding: 25px 0 0 75px;
  font-size:12px;
  font-weight:normal;
  padding-bottom:10px;
  text-align:left;
  float:left;
  line-height:25px;
width:40%;

}

ul {
  list-style: none;
  color: gray;
}

ul li {
  font-size: 1.5em;
  padding: 5px;
  float: left;
  width:45%;
}

ul li.p {
  width:75%;
}
ul li a {
  color: #9F26F6;
  font-weight: bold;
}

